
header, nav, main {
    max-width: 75rem;
    margin: auto;
}

nav ul li a {
    padding: .2rem 1rem;
    border-radius: 10px;
    margin: .5rem 0;
}

/* NAVIGATION STUFF GOES HERE  */

/* Main Stuff Here */

div.info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

div.info {

    grid-template-columns: 1fr 1fr 1fr 1fr;

    div.tip {

        text-align: left;
        background: $secondaryColor;
        color: white;

        h2 {
            font-size: 2rem;
        }

        p {
            color: white;
            padding-left: .5rem;
        }

        button {
            border: none;
            background: none;
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }

    div.faq {
        background: $secondaryColor;
        color: white;

        h2 {
            text-align: left;
            font-size: 2rem;
        }

        p {
            color: white;
            text-align: left;
            padding: .5rem 0;
        }

        button {
            border: none;
            background: none;
            color: white;
            font-size: 1rem;
            text-transform: uppercase;
            padding-top: .5rem;
        }
    }
}


@for $i from 0 through 12 {
    $w:($i/12)*100%;
    .large-#{$i}{flex-basis: $w;}
}
